body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #41cea4;
}

header p {
    color: #070707;
}

section {
    margin-top: 20px;
}

section h2 {
    color: #41cea4;
    border-bottom: 2px solid #41cea4;
    padding-bottom: 5px;
}

section div {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li:before {
    content: '▹';
    margin-right: 8px;
    color: #41cea4;
}

ul li {
    margin-bottom: 5px;
}
